.authform.card.mx-auto
  .card-body
    .lead.text-center= t('views.auth.messages.password_updated')
    %hr
    %div= link_to t('views.auth.titles.login'), '/login', class: 'btn btn-primary btn-block'