%p Hi #{ @user.email },

%p Looks like your account hasn't been active in over a week. In order to keep things engaging for everyone on the site, we will automatically thank the top responders to your posts.

%p If you would like to prevent this from occuring, please #{link_to 'login to your account on Disagree with Me', login_url}. If you think this message was sent in error, #{mail_to 'support@disagreewithme.app', 'please let us know'}.

%p
  \- The Disagree with Me Team