%p Hey #{ @user.email },

%p Thanks for signing up!

%p I created Disagree with Me because of an itch I needed to stratch. Throughout my life I've used the opposing viewpoint to help myself and others to think better. With the growing prevalence of filter bubbles in today’s society, I wanted to build a place online where anyone in the world could seek out and provide feedback on any idea or opinion. That's the goal of Disagree with Me. 

%p I hope the site can serve as a resource for you and help you think better and broaden your perspective.

%p I have one favor I need to ask of you before you go, can you reply to this email directly and give a brief reason why you signed up for the site and one thing you hope to get out of it?

%p
  Thanks!
  %br
  Alex
  %br
  = link_to "Read more about why I created Disagree with Me", "https://www.disagreewithme.app/about"