$black: #333333;
$blue: #0197F6;
$darkBlack: #222222;
$offWhite: #EFEFEF;
$lightGray: #CCCCCC;
$lighterGray: #DDDDDD;
$lightestGray: #F7F7F7;
$gray: #999999;
$darkGray: #4A4A4A;
$darkerGray: #555555;
$red: #FF0000;
$lightRed: #FCE8E8;
$white: #FFFFFF;
$primary: $darkGray;
$cellBorder: #EEEEEE;
$borderGray: $cellBorder;
$cellHighlight: $offWhite;
$facebook-blue: #3B5998;
$twitter-blue: #1DA1F2;
$google-blue: #4285f4;

.bg-dark {
  background-color: $darkGray !important;
}

.text-facebook-blue {
  color: $facebook-blue !important;
}

.text-twitter-blue {
  color: $twitter-blue !important;
}

.text-google-blue {
  color: $google-blue !important;
}
