.page-submenu {
  .nav-link {
    color: white;
    &.active {
      border-bottom: 1px solid white;
    }
  }
}

.navbar-brand {
  font-weight: 300;

  @media (min-width: 768px) {
    position: absolute;
    margin: 0;
  }
}
