.navbar-nav {
  li.nav-item a.nav-link i {
    font-size: 22px;
    vertical-align: middle;
    padding: 0 4px;
  }
  .nav-link {
    &:hover {
      cursor: pointer;
    }
  }
}

.navbar-expand > .container {
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: 576px) {
    padding-right: 0;
    padding-left: 0;
  }
}