.post-cell {
  cursor: pointer;
  .top-response {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    .heading {
      font-weight: 500;
      i {
        margin-right: 6px;
      }
    }
  }

  &:hover {
    background-color: $cellHighlight !important;
    .top-response {
      background-color: $cellHighlight !important;  
    }
  }
  
  .read-more-link {
    color: $blue !important;
  }
}

.cell-actions {
  .action {
    min-width: 80px;
    color: #6c757d;
    .action-icon {
      font-size: 16px;
    }
    .action-count {
      font-size: 14px;
      margin-left: 6px;
    }
    .action-icon.active, .action-count.active, .action-text.active {
      color: $blue;
    }
    &:hover {
      cursor: pointer;
    }
  }
}