// Import Frameworks
@import 'util/normalize';
@import 'bootstrap';
// Utilities
@import 'util/typography';
@import 'util/colors';
@import 'util/mixins';
@import 'util/navigation';
// Components
@import 'components/navbar';
@import 'components/forms';
@import 'components/page';
@import 'components/modals';
@import 'components/dropdowns';
@import 'components/toasters';
@import 'components/posts';
@import 'components/conversation';
@import 'components/responses';
@import 'components/search.scss';
@import 'components/activity.scss';

.app-wrap {
  padding-top: 56px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bp3-tooltip .bp3-popover-content {
  font-size: 13px !important;
}

.container .container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .static-page-container {
    max-width: 750px;
  }
}