// Bootstrap variables

// Import Frameworks
@import 'bootstrap';
// Utilities
@import 'util/colors';
@import 'util/mixins';
@import 'util/typography';
@import 'util/navigation';
// Components
@import 'components/forms';

html, body {
  height: 100%;
}

.auth {
  .main {
    h1 {
      font-size: 2rem;
    }
    h1 a:hover {
      text-decoration: none;
    }
  }
}

.authform {
  max-width: 450px;
}